#logo {
	width: 256px;}#toplinks {
	margin-right: 10px;}#pagenav {
	margin-top: 16px;	width: 600px;}#stage {
	margin-left: 20px;}#stage2 {	margin-top: 28px;}#stage_btns {
	margin-left: 20px;	width: 340px;}#stagetxt {
	margin: 0;}#column {
	margin-left: 30px;}#download {
	margin-right: -20px;}#stagetxt {}#leftcol div.column h3 {}#leftcol div.column div.text {}#rightcol {}#rightcol h3 {}#rightcol div.text {}#rightcol div.text a {}#awards h3 {}#download a {
	width: 160px;}table tr th {}table tr td {}a#link_rss {
	background-position: 70px 3px;}a#link_twitter {
	background-position: 20px 3px;}
