.editbox {
	color: #494949;
	font-family: monospace;
	font-size: 12pt;
}

span.sql-keyword {
	color: rgb(0, 128, 255);;
}

span.sql-var {
	color: red;
}

span.sql-comment {
	color: rgb(162, 161, 159);
}

span.sql-literal {
	color: green;
}

span.sql-operator {
	color: rgb(179, 43, 1);
}

span.sql-word {
	color: #313131;
}

span.sql-quoted-word {
	color: rgb(10, 167, 2);
}

span.sql-function {
	color: #ff8c00;
}

span.sql-type {
	color: purple;
}

span.sql-separator {
	color: #666;
}

span.sql-number {
	color: rgb(196, 13, 120);
}

.CodeMirror-wrapping {
	background-color: #fff;
}

.CodeMirror-line-numbers {
	background-color: #fff;
	border-right: 1px dotted #d4d4d4;
	color: #aaa;
	font-family: courier new;
	font-size: 10pt;
}

div.sql_lines {
	color: #999;
	font-family: courier new;
	font-size: 10pt;
}

pre.sql_output span {
	font-family: courier new;
	font-size: 10pt;
}