ul.dropdown {
	cursor: default;
	position: relative;
}

ul.dropdown li {
	border: 1px solid transparent;
	float: left;
	list-style: none;
	margin: 1px 0;
	padding: 0;
	zoom: 1;
}

ul.dropdown li.right {
	float: right;
}

ul.dropdown li a {
	color: #2779aa;
	display: block;
	font-family: segoe ui,arial,verdana;
	font-size: 12px;
	font-weight: 400;
	line-height: 13px;
	padding: 4px 7px;
	text-decoration: none;
}

ul.dropdown li.hover,ul.dropdown li:hover {
	background: #fafafa;
	border: 1px solid #aed0ea;
	position: relative;
}


ul.dropdown > li:hover {
	box-shadow: 2px 2px 4px #5e5e5e;
	-moz-box-shadow: 2px 2px 4px #5e5e5e;
	-webkit-box-shadow: 2px 2px 4px #5e5e5e;
}

ul.dropdown > li:hover:after {
	background-color: #fafafa;
	color: transparent;
	content: "-----";
	display: block;
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: -1px;
	left: 0;
}

ul.dropdown ul {
	-moz-box-shadow: 2px 2px 4px #5e5e5e;
	-webkit-box-shadow: 2px 2px 4px #5e5e5e;
	background: #fafafa url(themes/default/images/cmenu-bg.gif) repeat-y scroll left top;
	border: 1px solid #aed0ea;
	box-shadow: 2px 2px 4px #5e5e5e;
	left: -1px;
	list-style: none;
	padding: 2px;
	position: absolute;
	top: 100%;
	visibility: hidden;
}

ul.dropdown ul li {
	border: 1px solid transparent;
	color: #000;
	cursor: pointer;
	float: none;
	margin: 0;
}

ul.dropdown ul li a {
	background: url(themes/default/images/objects.png) no-repeat;
	background-position: -30px -30px;
	display: inline-block;
	padding: 5px 5px 5px 32px;
	text-decoration: none;
	white-space: nowrap;
	width: 100%;
}

ul.dropdown ul ul {
	left: 100%;
	top: 0;
}

ul.dropdown li:hover > ul {
	visibility: visible;
}

ul.dropdown li.separator,ul.dropdown li.separator:hover {
	background: none;
	border: none;
	color: #c5c5c5;
	display: block;
	font-size: 5px;
	margin: 0;
	padding: 0 5px 0 33px;
}

ul.dropdown a:focus {
	outline: 0;
}

ul.context {
	-moz-box-shadow: 3px 3px 4px #5e5e5e;
	-webkit-box-shadow: 3px 3px 4px #5e5e5e;
	background: #fafafa url(themes/default/images/cmenu-bg.gif) repeat-y scroll left top;
	border: 1px solid #aed0ea;
	box-shadow: 3px 3px 4px #5e5e5e;
	padding: 2px;
	position: relative;
}

ul.context li {
	border: 1px solid transparent;
	display: block;
	float: none;
	margin: 0;
	min-width: 120px;
	padding: 0;
}

ul.context > li:hover, ul.dropdown > li.right:hover  {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}


ul.context > li:hover:after, ul.dropdown li.right:hover:after  {
	height: 0;
}
ul.context li a {
	background: url(themes/default/images/objects.png) no-repeat;
	background-position: -30px -30px;
	display: inline-block;
	padding: 5px 5px 5px 32px;
	text-decoration: none;
	white-space: nowrap;
	width: 100%;
}

ul.context ul {
	left: 150px;
	top: 0;
}

ul#menu-language {
	width: 410px;
}

ul#menu-language li {
	float: left;
	width: 125px;
}

ul.dropdown li a.ilgout {
	background: url(themes/default/images/objects.png) no-repeat;
	background-position: -5px -440px;
	padding-left: 26px;
}

ul.dropdown a:hover {
	color: #2779aa;
}

ul.dropdown li.right:hover {
	border-bottom: 1px solid #aed0ea;
}

ul.dropdown li.hover a {
	color: #000;
}

ul.dropdown ul li:hover {
	background: url(themes/default/images/ui-bg_glass_75_d0e5f5_1x400.png) repeat-x scroll 50% 54% #dbeefa;
	border: 1px solid #aed0ea;
	color: #2779aa;
}

ul.dropdown ul li a:hover {
	color: #2779aa;
}

ul.dropdown ul li:hover a {
	color: #2779aa;
}

ul.dropdown ul ul li a:hover {
	color: #000;
}

ul.dropdown ul ul li:hover a {
	color: #000;
}

ul.context li.hover,ul.context li:hover {
	background: url(themes/default/images/ui-bg_glass_75_d0e5f5_1x400.png) repeat-x scroll 50% 54% #dbeefa;
	border: 1px solid #c3c3c3;
}

ul.dropdown li a.itable {
	background-position: -6px -29px;
}

ul.dropdown li a.iview {
	background-position: -6px -54px;
}

ul.dropdown li a.iproc {
	background-position: -6px -78px;
}

ul.dropdown li a.ifunc {
	background-position: -6px -101px;
}

ul.dropdown li a.itrig {
	background-position: -6px -125px;
}

ul.dropdown li a.ievt {
	background-position: -6px -150px;
}

ul.dropdown li a.ischm {
	background-position: -6px -5px;
}


ul.dropdown li a.itrunc {
	background-position: -6px -810px;
}

ul.dropdown li a.idrop {
	background-position: -6px -268px;
}

ul.dropdown li a.iren {
	background-position: -6px -810px;
}

ul.dropdown li a.iimprt {
	background-position: -6px -413px;
}

ul.dropdown li a.iexpdb {
	background-position: -6px -638px;
}

ul.dropdown li a.iexprt {
	background-position: -6px -292px;
}

ul.dropdown li a.itprc {
	background-position: -7px -548px;
}

ul.dropdown li a.itusr {
	background-position: -7px -578px;
}

ul.dropdown li a.itchk {
	background-position: -5px -609px;
}

ul.dropdown li a.itsrch {
	background-position: -5px -668px;
}

ul.dropdown li a.ihlp {
	background-position: -7px -341px;
}

ul.dropdown li a.idocs {
	background-position: -7px -461px;
}

ul.dropdown li a.itutor {
	background-position: -7px -516px;
}

ul.dropdown li a.iftr {
	background-position: -7px -487px;
}

ul.dropdown li a.ibug {
	background-position: -7px -366px;
}

ul.dropdown li a.irfrsh {
	background-position: -6px -388px;
}

ul.dropdown li a.check {
	background-position: -6px -246px;
}